/* .dashboard{
    min-height: 100%;
    background: red;
} */
.dashboardMain {
    flex: 1;
    display: flex;
    flex-direction: row;

}

.main {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.main li {
    list-style: none;
}

.main>h3 {
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid #969696;
}

.main h3,
.main>div {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 4%;
}

.row {
    display: flex;
    flex-direction: row;
}

.overviewRow1 {
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

.overviewHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overviewHeading>h6 {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.overviewHeading>button {
    color: #09BCFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main ul {
    display: flex;
    flex-direction: column;

}

.main ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 37px;
    padding: 16px 0 16px 16px;

}

.border {
    border-bottom: 1px solid var(--multiselect);
    border-top: 1px solid var(--multiselect);
}

/* .upcomingClasses ul{
margin-top: 20px;

gap: 20px;
} */
.upcomingClasses li>div {
    display: flex;
    flex-direction: column;
}

.upcomingClasses li {
    align-items: flex-end !important;
}

.upcomingClasses li>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.upcomingClasses li>button {
    background: var(--multiselect);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.course {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000000;
}

.assignment li>div {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.assignment li>div .course {
    color: #272835;
}

.assignment li>div .date {
    color: #9E9E9E;
}

.overviewRow2 .overviewHeading {
    margin-bottom: 10px;
}

.overviewRow2 li>div {
    gap: 16px;
}

.tutors li .tutor {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.tutors li>button {
    background: #D4F8D3;
    padding: 4px 12px;
    border-radius: 20px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

.tutors li>div>div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.messages li>div>div {
    display: flex;
    flex-direction: column;
}

.messages li {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: space-between;
}

.messages li>div .initial {
    background: #F0F7FF;
    border-radius: 8px;
    color: #0052B4;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.47px;
    height: 36px;
}

.messages li>div>div .name {
    font-weight: 600;
    font-size: 15px;
    color: #333333;
}

.messages li>div>div .message,
.messages li>p {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 10px;
}

.attendance li {
    flex-direction: column !important;
    gap: 10px !important;

}

.attendance ul li>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}

.attendance ul li>div .course {
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

.attendance ul li>div .mark {
    font-weight: 400;
    font-size: 14px;
    color: #8A8A8A;
}

/* .progress .wrapper{
    background: red;
    width: 100%;
} */
.progress,
.progress>div {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    overflow: hidden;
}

.progress .container {
    background: #DAD7FE;
    height: 8px;


}

.progress .container>div {
    background: #1F70B2 !important;
}

/* .tableDiv{
    padding: 0 4%;
} */
.tablePagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablePagination ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 4%;
}

.tablePagination ul li {
    padding: 5px 15px;
    /* border-radius: 10px;
    border: 0.5px solid rgb(255, 255, 255, 0.3);
    box-shadow: 2px 2px 4px 0 #54BAB9;
    box-shadow: -2px -2px 5px 0 rgb(255, 255, 255, 0.5);
    background: rgb(255, 255, 255, 0.15); */
}

.progressTable {

    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 90.5%;
    padding: 30px;
    margin-left: 4%;
    border-collapse: separate;
}

/* .progressTable thead, .progressTable tbody{
    padding-left: 4%;
    padding-right: 4%;
} */
.progressTable thead th {
    color: #757575;
    font-size: 14px;
    /* background: red; */
    text-align: start;
}

.center {
    text-align: center !important;
}

.progressTable .test {
    font-size: 16px;
}

.dateTime {
    font-size: 12px;
    color: #757575;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.progressTable tbody tr td {
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
}

.noborder td {
    border-bottom: none !important;

}

.upcoming,
.pass,
.fail {
    padding: 4px 23px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 25%;
    right: 0;
    display: flex;
    justify-self: center !important;
    align-self: center !important;

}

.upcoming {
    background: rgb(201, 44, 109, 0.3);
    border: 1px solid #C92C6D;
    color: #C92C6D;
}

.fail {
    background: rgba(241, 71, 71, 0.3);
    border: 1px solid #F14747;
    color: #F14747;
}

.pass {
    background: rgb(47, 215, 74, 0.3);
    border: 1px solid #2FD74A;
    color: #2FD74A;
}

.notificationList {
    padding: 2%;
}

.notificationList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 33px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.refer {
    display: flex;
    flex-direction: column !important;
    gap: 50px;
    font-family: 'Open Sans', sans-serif;

}

.refer>p, .feedbackSection {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.refer form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.refer button,
.classes .tableHead button, .reschedule>button {
    background: var(--button-hover);
    padding: 10px 20px;
    border-radius: 8px;
    color: #ffffff;
    width: fit-content;
}

.refer>div>h6 {
    font-weight: 700;
    font-size: 14px;
}

.refer>div>p {
    font-weight: 400;
    font-size: 14px;
    max-width: 733px;
}

.classes {
    flex-direction: column !important;
    gap: 20px;

}

.classesTable {
    border-collapse: collapse;
}

/* .classesTable tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
} */
.classesTable td,
.classesTable th {
    border: 1px solid var(--brown);
    text-align: left;
    padding-left: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.classesTable td {
    font-weight: 400;
}

.classesTable th {
    font-weight: 700;
}

.rating {
    display: flex;
    flex-direction: row;
}

.classes .tableHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blueColor {
    color: var(--button-hover);
    cursor: pointer;
}

.referMain {
    position: relative;
}

.referFeedback {
    font-family: "IBM Plex Sans", sans-serif;
    background: #FFFFFF;
    padding: 40px;
    box-shadow: 0 8px 30px 0 rgb(0, 0, 0, 0.12);
    border-radius: 16px;
    flex-direction: column !important;
    gap: 44px;
    max-width: 600px !important;
    position: absolute;
    /* align-self: center; */
    margin-top: 10%;
    margin-left: 15%;
}

.referFeedback h5 {
    font-weight: 700;
    font-size: 24px;
}

.referFeedback p {
    font-weight: 400;
    font-size: 17px;
}

.referFeedback button {
    font-family: "IBM Plex Sans", sans-serif;
    color: #1F1F1F;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 16px 58px;
}
.referMain:disabled{
    background: #D9D9D9;
}
.referFeedback .buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.upcomingAlert{
    max-width: 500px !important;
}
.referFeedback .buttons .button2{
    background: var(--button-hover);
    color: #ffffff;
    border: none;
}
.button2{
    background: var(--button-hover);
    color: #ffffff;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    border-radius: 6px;
    padding: 8px 9px;
}
.reschedule{
    display: flex;
    flex-direction: column !important;
    gap: 20px;
    position: relative;
    /* padding-right: 3% !important; */
}
.reschedule button{
    position: absolute;
    bottom: 0;
    right: 3%;
}
.calendarHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* ga */
}
/* .calendar{
    background: red;
} */
.calendar>div{
    display: flex;
    flex-direction: row;
}
.feedbackSection{
    display: flex;
    flex-direction: column !important;
    gap: 30px !important;
    color: #000000;
    width: fit-content;
}
.feedbackSection h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.feedbackSection>div{
    display: flex;
    flex-direction: column ;
    gap: 20px;
}
.feedbackSection>div>div{
    display: flex;
    flex-direction: row;
    gap: 50px
}
.feedbackSection>div>div>p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;

}
.feedbackSection>div>div>form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
/* .feedbackSection>div>div>form svg path{
    stroke: var(--brown);
} */
.feedbackSection .button2{
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: -70px;
}
.textarea, .textarea2{
    min-height: 150px;
}
.imageUpload{
    background: #EDF2F6;
    border-radius: 11.09px;
    border: 0.62px dashed #4C535F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #4C535F;
    padding: 25.61px;
    gap: 10px;
    width: fit-content;
}
.imageUpload p{
    width: 100px;
    text-align: center;
}
.settingsDashboard{
    display: flex;
    flex-direction: column !important;
    gap: 30px;
}
.settingsDashboard ul{
    display: flex;
    flex-direction: row;
    gap: 7.39px;
}
.settingsDashboard ul li{
    font-family: 'Open Sans', sans-serif;
    padding: 7.39px;
    color: #717B8C;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1.23px solid #E0E4EC;
}
.textarea2 {
    /* height: 100px; */
    max-width: 831px;
    width: 100%;
}
.inputsDiv>div input, .settingsDashboard form>div>div textarea{
    background: #E0E4EC;
    border: 0.62px solid #E0E4EC;
}
.inputsDiv{
    display: flex;
    flex-direction: row;
    gap: 50px;
    /* height: 250px; */
    flex-wrap: wrap;
}
.settingsDashboard form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.loginSettings{
    display: flex;
    flex-direction: column;
    gap: 70px;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    position: relative;

}
.loginSettings>div>h5{
    font-weight: 600;
    font-size: 20px;
}
.twoFactor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.twoFactor>p{
    font-weight: 500;
    font-size: 14px;
    max-width: 700px;
    margin-top: 10px;
    margin-left: 5px;
}
.switch{
    position: relative;
}
.switchP{
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: 15%;
    color: #ffffff;
    display: flex;
    justify-self: center;
    align-self: center;
    
}
.loginSettings .row2{
display: flex;
flex-direction: column;
gap: 30px;
}
.loginSettings .row2 .row2heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 0.25);
    padding: 15px 0;
}
.loginSettings .row2 h6{
    font-weight: 600;
    font-size: 14px;
}

.separate h6{
    font-weight: 600;
    font-size: 14px;
    /* color: rgb(0, 0, 0, 0.5); */
    cursor: pointer;
}
/* .separate h6:active, .separate h6:{
    color: #000000;
} */
.loginSettings .row2 .row2heading button{
    padding: 4px 10px;
    border-radius: 5px;
    background: #186BAD;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 14px;
    color: #ffffff;
}
.separate, .separate>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separate{
    gap: 100px;
}
.separate>div{
    gap: 20px;
}
.separate>div>div>p, .separate .message{
    color: rgb(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 14px;
}
.separate .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}
.changePassword{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: -25%;
    left: 25%;
    border-radius: 0 0 15px 15px;
    border: 1px solid #FFFFFF;
    background: #ffffff;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.15);
    padding-bottom: 50px;
}
.changePassword .head{
    background: var(--button-hover);
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    padding: 7px 0;
}
.changePassword .info{
    font-weight: 400;
    font-size: 12px;
    padding: 0 30px;
}
.changePassword>form{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.changePassword>form .buttons{
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
}
.changePassword>form .buttons .cancel{
    color: #FF0000 !important;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.rowImput>div{
    flex-direction: row;
    /* max-width: 100%; */
    gap: 50px;
}
.rowImput>div>div{
    width: 100%;
}
.rowImput>div>div>svg{
    display: none;
}
.addNewCourse{
    display: flex;
    flex-direction: column !important;
}
.addNewCourse .rowImput{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.addNewCourse .rowImput>button{
    width: 207px ;
}
.addNewCourse .rowImput>div>div>select option{
    background: #E8E8E8;
    padding: 30px;
}
.addNewCourse .rowImput>div>div>select option:active, .addNewCourse .rowImput>div>div>select option:hover, .addNewCourse .rowImput>div>div>select option:focus{
    background: rgb(222, 75, 24, 0.28) !important;
}

/* .addNewCourse .rowImput>div>div>select ::slotted(*) {
    background: rgb(222, 75, 24, 0.28) !important;
  } */
  .tutorRow{
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    
    
  }
 
  .tutorRow>li{
    display: flex;
    flex-direction: column !important;
    font-weight: 400px;
    gap: 10px !important;
  }
  .tutorInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .tutorRow li .name{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }
  .tutorRow li .course{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }
  .tutorProfile{
    border: 1px solid #D9734C;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400px;
  }
  .tutorProfile:active, .tutorProfile:focus{
    background: #000000;
    color: #ffffff;
  }
  .moreTutorInfo{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .moreTutorInfo .tutorInfo{
    /* align-items: start; */
    margin-top: 20px;
  }
  .tutorInfoDiv li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
    list-style: circle;
    align-items: start !important;
    
  }
  .tutorInfoDiv li span, .tutorInfoDiv li p{
    font-weight: 400;
    
  }
  .tutorInfoDiv li p{
    display: flex;
    flex-wrap: wrap !important;
  }
  .tutorInfoDiv>div{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 50px;
    margin-top: 10px;
  }
  .upcomingAlert .tutorDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
  }
  .upcomingAlert .tutorDetails>div>div>p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: row;
  }
  .moreTutorInfo .upcomingAlert>p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    width: 100%;
  }
  .moreTutorInfo .upcomingAlert>h5{
    text-align: center;
    width: 100%;
  }
  .moreTutorInfo .upcomingAlert>p>span{
    color: var(--brown);
  }
  .moreTutorInfo .upcomingAlert{
    top: 15%;
    min-width: 509px;
  }
  .moreTutorInfo .buttons button{
  }