/* .dashboard{
    min-height: 100%;
    background: red;
} */
.dashboardMain {
    flex: 1;
    display: flex;
    flex-direction: row;

}

.main {
    padding: 3% 0;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.main li {
    list-style: none;
}

.main>h3 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #969696;
}

.main h3,
.main>div {
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem 4%;
    flex-wrap: wrap;
    gap: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.overviewRow1 {
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;
}

.overviewHeading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overviewHeading>h6 {
    font-weight: 400;
    font-size: 1.5rem;
    color: #000000;
}

.overviewHeading>button {
    color: #09BCFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.main ul {
    display: flex;
    flex-direction: column;

}

.main ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.3125rem;
    padding: 1rem 0 1rem 1rem;

}

.border {
    border-bottom: 1px solid var(--multiselect);
    border-top: 1px solid var(--multiselect);
}

/* .upcomingClasses ul{
margin-top: 20px;

gap: 20px;
} */
.upcomingClasses li>div {
    display: flex;
    flex-direction: column;
}

/* .upcomingClasses li {
    
} */

.upcomingClasses li>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #000000;
}

.upcomingClasses li .daysTime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-end !important;
}

.upcomingClasses li .daysTime>button {
    background: var(--multiselect);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 15px;
    padding: 0.625rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #000000;
}

.course {
    font-weight: 400;
    font-size: 1rem;
    color: #000000;
}

.date {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    color: #000000;
}

.assignment li>div {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.assignment li>div .course {
    color: #272835;
}

.assignment li>div .date {
    color: #9E9E9E;
}

.overviewRow2 .overviewHeading {
    margin-bottom: 0.625rem;
}

.overviewRow2 li>div {
    gap: 1rem;
}

.tutorUL li .tutor {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.tutorUL .row>div svg,
.tutorUL .row>div>div {
    height: 36px;
    width: 36px;
}

.tutorUL .row>div>div {
    border-radius: 50%;
    overflow: hidden;
}

.tutorUL li {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
}

.tutorUL li>button {
    background: #D4F8D3;
    padding: 0.25rem 0.75rem;
    border-radius: 1.25rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    color: #222222;
}

.tutorUL li>div>div {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    align-items: center;
}

.messages li>div>div {
    display: flex;
    flex-direction: column;
}

.messages li {
    font-family: "Jost", sans-serif;
    display: flex;
    justify-content: space-between;
}

.messages li>div .initial {
    background: #F0F7FF;
    border-radius: 8px;
    color: #0052B4;
    font-weight: 500;
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36.47px;
    height: 36px;
}

.messages li>div>div .name {
    font-weight: 600;
    font-size: 0.9375rem;
    color: #333333;
}

.messages li>div>div .message,
.messages li>p {
    color: #8A8A8A;
    font-weight: 400;
    font-size: 0.625rem;
}

.attendance li {
    flex-direction: column !important;
    gap: 0.625rem !important;

}

.attendance ul li>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: "DM Sans", sans-serif;
}

.attendance ul li>div .course {
    font-weight: 400;
    font-size: 0.875rem;
    color: #000000;
}

.attendance ul li>div .mark {
    font-weight: 400;
    font-size: 0.875rem;
    color: #8A8A8A;
}

/* .progress .wrapper{
    background: red;
    width: 100%;
} */
.progress,
.progress>div {
    width: 100%;
    height: 8px;
    border-radius: 0.625rem;
    overflow: hidden;
}

.progress .container {
    background: #DAD7FE;
    height: 8px;


}

.progress .container>div {
    background: #1F70B2 !important;
}

/* .tableDiv{
    padding: 0 4%;
} */
.tablePagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablePagination .pagination {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    padding-right: 4%;
}

.tablePagination .pagination li {
    padding: 0.3125rem 0.9375rem;
    /* border-radius: 10px;
    border: 0.5px solid rgb(255, 255, 255, 0.3);
    box-shadow: 2px 2px 4px 0 #54BAB9;
    box-shadow: -2px -2px 5px 0 rgb(255, 255, 255, 0.5);
    background: rgb(255, 255, 255, 0.15); */
}

.progressTable {

    border-radius: 0.625rem;
    box-shadow: 0 0 4px 0 rgb(0, 0, 0, 0.25);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 90.5%;
    padding: 1.875rem;
    margin-left: 4%;
    border-collapse: separate;
}

/* .progressTable thead, .progressTable tbody{
    padding-left: 4%;
    padding-right: 4%;
} */
.progressTable thead th {
    color: #757575;
    font-size: 0.875rem;
    /* background: red; */
    text-align: start;
}

.center {
    text-align: center !important;
}

.progressTable .test {
    font-size: 1rem;
}

.dateTime {
    font-size: 12px;
    color: #757575;
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
}

.progressTable tbody tr td {
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
}

.noborder td {
    border-bottom: none !important;

}

.upcoming,
.pass,
.fail {
    padding: 0.25rem 1.5rem;
    border-radius: 0.625rem;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 25%;
    right: 0;
    display: flex;
    justify-self: center !important;
    align-self: center !important;

}

.upcoming {
    background: rgb(201, 44, 109, 0.3);
    border: 1px solid #C92C6D;
    color: #C92C6D;
}

.fail {
    background: rgba(241, 71, 71, 0.3);
    border: 1px solid #F14747;
    color: #F14747;
}

.pass {
    background: rgb(47, 215, 74, 0.3);
    border: 1px solid #2FD74A;
    color: #2FD74A;
}

.notificationList {
    padding: 2%;
}

.notificationList li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32rem;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
}

.refer {
    display: flex;
    flex-direction: column !important;
    gap: 3.125rem;
    font-family: 'Open Sans', sans-serif;

}

.refer>p,
.feedbackSection {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.refer form {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.refer button,
.classes .tableHead button,
.reschedule>button {
    background: var(--button-hover);
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    color: #ffffff;
    width: fit-content;
}

.refer>div>h6 {
    font-weight: 700;
    font-size: 0.875rem;
}

.refer>div>p {
    font-weight: 400;
    font-size: 0.875rem;
    max-width: 733px;
}

.classes {
    flex-direction: column !important;
    gap: 1.25rem;

}

.classesTable {
    border-collapse: collapse;
}

/* .classesTable tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
} */
.classesTable td,
.classesTable th {
    border: 1px solid var(--brown);
    text-align: left;
    padding-left: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    padding-top: 0.625rem;
    padding-bottom: 10px;
}

.classesTable td {
    font-weight: 400;
}

.classesTable th {
    font-weight: 700;
}

.rating {
    display: flex;
    flex-direction: row;
}

.classes .tableHead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blueColor {
    color: var(--button-hover);
    cursor: pointer;
}

.referMain {
    position: relative;
}

.referFeedback {
    font-family: "IBM Plex Sans", sans-serif;
    background: #FFFFFF;
    padding: 2.5rem;
    box-shadow: 0 8px 1.875rem 0 rgb(0, 0, 0, 0.12);
    border-radius: 1rem;
    flex-direction: column !important;
    gap: 2.75rem;
    max-width: 37.5rem !important;
    position: absolute;
    /* align-self: center; */
    margin-top: 10%;
    margin-left: 15%;
}

.referFeedback h5 {
    font-weight: 700;
    font-size: 1.5rem;
}

.referFeedback p {
    font-weight: 400;
    font-size: 1.0625rem;
}

.referFeedback button {
    font-family: "IBM Plex Sans", sans-serif;
    color: #1F1F1F;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 2rem 3.625rem;
}

.referMain:disabled {
    background: #D9D9D9;
}

.referFeedback .buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.upcomingAlert {
    max-width: 31.25rem !important;
}

.referFeedback .buttons .button2 {
    background: var(--button-hover);
    color: #ffffff;
    border: none;
}

.button2 {
    background: var(--button-hover);
    color: #ffffff;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    border-radius: 6px;
    padding: 8px 9px;
}

.reschedule {
    display: flex;
    flex-direction: column !important;
    gap: 1.25px;
    position: relative;
    /* padding-right: 3% !important; */
}

.reschedule button {
    position: absolute;
    bottom: 0;
    right: 3%;
}

.calendarHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* ga */
}

/* .calendar{
    background: red;
} */
.calendar>div {
    display: flex;
    flex-direction: row;
}

.feedbackSection {
    display: flex;
    flex-direction: column !important;
    gap: 1.875rem !important;
    color: #000000;
    width: fit-content;
}

.feedbackSection h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.feedbackSection>div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.feedbackSection>div>div {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}

.feedbackSection>div>div>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;

}

.feedbackSection>div>div>form {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    position: relative;
}

/* .feedbackSection>div>div>form svg path{
    stroke: var(--brown);
} */
.feedbackSection .button2 {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: -4.375rem;
}

.textarea,
.textarea2 {
    min-height: 9.375rem;
}

.imageUpload {
    background: #EDF2F6;
    border-radius: 0.693rem;
    border: 0.62px dashed #4C535F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #4C535F;
    padding: 1.601rem;
    gap: 0.625rem;
    width: fit-content;
}

.imageUpload p {
    width: 6.25rem;
    text-align: center;
}

.settingsDashboard {
    display: flex;
    flex-direction: column !important;
    gap: 1.875rem;
}

.settingsDashboard ul {
    display: flex;
    flex-direction: row;
    gap: 0.462rem;
}

.settingsDashboard ul li {
    font-family: 'Open Sans', sans-serif;
    padding: 0.452rem;
    color: #717B8C;
    font-size: 0.875rem;
    font-weight: 400;
    border-bottom: 1.23px solid #E0E4EC;
}

.textarea2 {
    /* height: 100px; */
    max-width: 51.9375rem;
    width: 100%;
}

.inputsDiv>div input,
.settingsDashboard form>div>div textarea {
    background: #E0E4EC;
    border: 0.62px solid #E0E4EC;
}

.inputsDiv {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
    /* height: 250px; */
    flex-wrap: wrap;
}

.settingsDashboard form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.loginSettings {
    display: flex;
    flex-direction: column;
    gap: 4.375rem;
    font-family: 'Poppins', sans-serif;
    width: 85%;
    position: relative;

}

.loginSettings>div>h5 {
    font-weight: 600;
    font-size: 1.25rem;
}

.twoFactor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twoFactor>p {
    font-weight: 500;
    font-size: 0.875rem;
    max-width: 43.75rem;
    margin-top: 0.625rem;
    margin-left: 0.3125rem;
}

.switch {
    position: relative;
}

.switchP {
    font-weight: 500;
    font-size: 0.875rem;
    position: absolute;
    left: 15%;
    color: #ffffff;
    display: flex;
    justify-self: center;
    align-self: center;

}

.loginSettings .row2 {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.loginSettings .row2 .row2heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0, 0.25);
    padding: 0.9375rem 0;
}

.loginSettings .row2 h6 {
    font-weight: 600;
    font-size: 0.875rem;
}

.separate h6 {
    font-weight: 600;
    font-size: 0.875rem;
    /* color: rgb(0, 0, 0, 0.5); */
    cursor: pointer;
}

/* .separate h6:active, .separate h6:{
    color: #000000;
} */
.loginSettings .row2 .row2heading button {
    padding: 4px 0.625rem;
    border-radius: 5px;
    background: #186BAD;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.25);
    font-weight: 600;
    font-size: 0.875rem;
    color: #ffffff;
}

.separate,
.separate>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.separate {
    gap: 6.25rem;
}

.separate>div {
    gap: 1.25rem;
}

.separate>div>div>p,
.separate .message {
    color: rgb(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 0.875rem;
}

.separate .message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.changePassword {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: -25%;
    left: 25%;
    border-radius: 0 0 15px 15px;
    border: 1px solid #FFFFFF;
    background: #ffffff;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.15);
    padding-bottom: 3.125rem;
}

.changePassword .head {
    background: var(--button-hover);
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    padding: 7px 0;
}

.changePassword .info {
    font-weight: 400;
    font-size: 0.75rem;
    padding: 0 1.875rem;
}

.changePassword>form {
    display: flex;
    flex-direction: column;
    padding: 0 1.875rem;
}

.changePassword>form .buttons {
    display: flex;
    flex-direction: row;
    gap: 4.375rem;
    justify-content: center;
}

.changePassword>form .buttons .cancel {
    color: #FF0000 !important;
    font-family: 'Poppins' sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
}

.rowImput>div {
    flex-direction: row;
    /* max-width: 100%; */
    gap: 3.125rem;
}

.rowImput>div>div {
    width: 100%;
}

.rowImput>div>div>svg {
    display: none;
}

.addNewCourse {
    display: flex;
    flex-direction: column !important;
}

.addNewCourse .rowImput {
    display: flex;
    flex-direction: row;
    gap: 3.125rem;
}

.addNewCourse .rowImput>button {
    width: 207px;
}

.addNewCourse .rowImput>div>div>select option {
    background: #E8E8E8;
    padding: 12.9375rem;
}

.addNewCourse .rowImput>div>div>select option:active,
.addNewCourse .rowImput>div>div>select option:hover,
.addNewCourse .rowImput>div>div>select option:focus {
    background: rgb(222, 75, 24, 0.28) !important;
}

/* .addNewCourse .rowImput>div>div>select ::slotted(*) {
    background: rgb(222, 75, 24, 0.28) !important;
  } */
.tutorRow {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;


}

.tutorRow>li {
    display: flex;
    flex-direction: column !important;
    font-weight: 400;
    gap: 0.625rem !important;
}

.tutorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.tutorRow li .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.tutorRow li .course {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
}

.tutorProfile {
    border: 1px solid #D9734C;
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.tutorProfile:active,
.tutorProfile:focus {
    background: #000000;
    color: #ffffff;
}

.moreTutorInfo {
    display: flex;
    flex-direction: row;
    margin-top: 1.875rem;
}

.moreTutorInfo .tutorInfo {
    /* align-items: start; */
    margin-top: 1.25rem;
}

.tutorInfoDiv li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 0.875rem;
    margin-left: 1.25rem;
    list-style: circle;
    align-items: start !important;

}

.tutorInfoDiv li span,
.tutorInfoDiv li p {
    font-weight: 400;

}

.tutorInfoDiv li p {
    display: flex;
    flex-wrap: wrap !important;
}

.tutorInfoDiv>div {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    margin-left: 3.125rem;
    margin-top: 0.625rem;
}

.upcomingAlert .tutorDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;

}

.upcomingAlert .tutorDetails>div>div>p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}

.moreTutorInfo .upcomingAlert>p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1.0625rem;
    text-align: center;
    width: 100%;
}

.moreTutorInfo .upcomingAlert>h5 {
    text-align: center;
    width: 100%;
}

.moreTutorInfo .upcomingAlert>p>span {
    color: var(--brown);
}

.moreTutorInfo .upcomingAlert {
    top: 15%;
    min-width: 31.8125rem;
}

/* .moreTutorInfo .buttons button{
  } */
.paymentDiv {
    display: flex;
    flex-direction: column !important;

}

.paymentDiv .tutorInfo {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    margin-bottom: 3.125rem;
}

.paymentDiv>form {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.radioInputs,
.radioInputs div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.875rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* .radioInputs div{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
  } */
.radioInputs p {
    padding-right: 3.125rem;
}

.paymentDiv>form {
    width: 50%;
}

.paymentDiv>form>div {
    max-width: 100% !important;
    justify-content: space-between !important;

}

.paymentDiv>form>div>div>label {
    padding-right: 3.125rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

.paymentDiv>form>div>div input {
    background: #E2E8F0;
    box-shadow: 0 0 2 0 rgb(0, 0, 0, 0.75);
}

.paymentDiv button {
    width: fit-content;
    display: flex;
    align-self: flex-end;
}

.bankTransfer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.bankTransfer ul {
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
}

.bankTransfer span {
    font-weight: 400;
}

/* .listStyle li{
    list-style: square;
    list-style-type: decimal;
    li
  } */

/* MOBILE */
.mobileUpcomingClasses {
    font-family: 'Inter', sans-serif;
    color: #242F48 !important;
}

.mobileUpcomingClasses .course,
.daysTime {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
    color: #242F48 !important;
}

.mobileUpcomingClasses .course,
.daysTime p,
.mobileRow1>div h6,
.mobileRow1>div h6,
.seeAll,
.mobileRow2 h6,
.mobileRow2 li .tutor,
.mobileRow2 .messages .name,
.mobileNotification>p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    color: #242F48 !important;

}

.subList a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    color: #242F48 !important;
}

.seeAll {
    color: #0162e8 !important;
}

.mobileUpcomingClasses .date,
.daysTime button,
.date2,
.mobileRow2 .messages .message {
    font-weight: 500 !important;
    font-size: 0.625rem !important;
    background: none !important;
    padding: 0 !important;
    color: #242F48 !important;
}

.mobileRow1>div,
.mobileRow2>div {
    border: 1px solid rgb(36, 47, 72, 0.18);
    border-radius: 0.3125rem;
    padding: 1rem;
    margin: 0 3%;
    width: 100%;
}

.mobileRow1>div li,
.mobileRow2>div li {
    padding-left: 0;
    gap: 1rem;
}

.mobileRow1 {
    border-top: none;
}

.subPages {
    padding: 0 !important;
}

.subList {
    display: flex;
    flex-direction: row !important;
    color: #242F48;
    border-bottom: 0.5px solid #d1c7c7;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.subList a {
    min-width: 6.75rem;
    padding: 1rem 0.5rem 0.75rem 0.5rem;
}

@media (max-width: 560px) {
    .upcomingClasses li .daysTime {
        align-items: flex-start !important;
    }

    .upcomingClasses li {
        justify-content: space-between;

    }

    .classIcon {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        gap: 1rem;
    }

    .testList {
        display: flex;
        flex-direction: column !important;
    }

    .testRow1,
    .testRow2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem 1rem 1rem;
        font-family: 'Inter', sans-serif;
        color: #242F48;
    }

    .testRow1 {
        border-bottom: 1px solid rgb(36, 47, 72, 6%);

    }

    .testRow2 {
        text-align: center;
    }

    /* .testRow1>div, .testRow2>div{
        display: flex;
        flex-direction: row;
    } */
    .testRow1 .dateTime {
        display: flex;
        flex-direction: row;
    }

    .testRow1 .title,
    .upcoming,
    .pass,
    .fail {

        font-weight: 500;
        font-size: 0.75rem;
    }

    .testRow1 .dateTime {
        display: flex;
        gap: 0.5rem;
    }

    .testRow2>div>p,
    .testRow1 .dateTime,
    .miniTitle, .mobileNotification .notificationList .notifications {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.625rem;
        color: #242F48;
    }

    .tablePagination>h3 {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .tablePagination {
        gap: 0 !important;
        padding-top: 0 !important;
    }

    .tablePagination ul {
        display: flex;
        gap: 1.25rem;
        width: 100%;
        margin: 0 4%;
    }

    .tablePagination ul li {
        background: #ffffff;
        border: 1px solid rgb(36, 47, 72, 6%);
        padding-left: 0;
    }

    .main {
        background: #FCFCF7;
    }

    .upcoming,
    .pass,
    .fail {
        position: unset;
        background: none;
        border: none;
        padding: 0;
    }

    .upcoming {
        color: #E2AD18;
    }

    .pagination {
        margin: 1.5rem 4% !important;
        display: flex;
        justify-content: center;
    }

    .pagination li {
        padding: 0 !important;
    }

    .mobileNotification {
        padding-left: 2rem;
        padding-right: 4%;
    }

    .mobileNotification .notificationList li input {
        display: none;
    }
}