
.inputDiv>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* background: red; */
    /* max-width: fit-content; */
}
.inputDiv div label{
    width: 100%;
    max-width: fit-content;
    
}
.inputDiv, .nobg{
    width: fit-content;
}
.textarea {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
/* .textarea div label{
} */
.textarea .inputFieldDiv{
    width: 100%;
    background: red;
}

/* .textarea div{
    width: fit-content;
} */
.important{
    stroke: #FF0000;
    fill: #FF0000;
    height: 10px;
    width: 10px;
}
.nobg{
    background: none;
    color: #000000;
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 600;
    font-size: 24px;

}
/* input ::placeholder{
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    font-family: "Open sans", sans-serif;
} */
.inputFieldDiv input::placeholder, .inputFieldDiv select::placeholder, .inputFieldDiv textarea::placeholder{
    color: #666666;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open sans", sans-serif;
}
.inputDiv {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    position: relative;
    max-width: fit-content;
    /* max-width: 368px; */
    /* width: 368px; */
}

.inputFieldDiv{
    width: 100%;
    max-width: fit-content;
}
.inputFieldDiv input, .inputFieldDiv select, .textareadiv textarea{
    border: 1px solid #CCCCCC;
    /* box-shadow: 0 0 0 1px #878787; */
    width: 100%;
    border-radius: 8px;
    font-family: "Open sans", sans-serif;
    color: #666666;
    padding: 16px;
    background: #FFFFFF;
    font-weight: 400;
    font-style: 14px;
}
.textarea {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
/* .textarea div label{
} */
.textarea .textareaDiv{
    /* width: 100%;
    background: red; */
}
.inputFieldDiv input, .inputFieldDiv select{
    
    /* min-width: 300px; */
    
    /* width: 100%;
    max-width: 368px; */
    width: 368px;
}
.inputFieldDiv input:focus, .inputFieldDiv select:focus{
    border: 1.5px solid #30407F;
    outline: none;
}
.searchField input{
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid #D0D5DD;
    border-radius: 50px;
}
.searchField svg{
    width: 16px;
    height: 16px;
}
/* .searchField{
    
    max-width: 325px;
    width: 100%;
}
.searchField input{
    width: 375px;
    /* width: 100%; */
    /* background: hsl(210, 40%, 92%); */
/* } */ 
/* @media (max-width: 650px) {
    .searchField input{
        max-width: 300px;
    }
}
@media (max-width: 621px) {
    .searchField input{
        width: 100%;
    }
} */


/* .search{
    
    margin-top: 10px; */
    /* padding: 15px 25px !important; */
    /* box-shadow: none !important;
    width: 100%;
    display: flex;
    align-items: center; */
    
/* } */

/* .loginBtn{
    width: fit-content;
} */
.inputFieldDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* .textareaDiv{
    width: 100%;
    background: #FF0000;
} */
/* .textareaDiv textarea{
    width: 100%;
} */
/* @media (max-width: 650px) { */
    /* .inputDiv .inputFieldDiv{
        width: 100%;
    } */
/* } */
/* .searchField{
    display: flex;
    align-items: center;
} */
.icon{
    position: absolute !important;
    right: 14px;
    display: flex;
    align-items: center;
    margin-top: 7px;
    cursor: pointer;
    
}
.searchIcon{
    left: 10px;
    height: 100%;
    bottom: 0;
    /* background: red; */
}
@media (max-width:530px) {
    label{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    /* .inputFieldDiv input, .inputFieldDiv select{
        display: flex;

    } */
}
/* .searchIcon{
    right: 10px;
    
}
.icon svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.searchDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
}
.searchList{
    position: absolute;
    top: 50px;
    background-color: white;
    padding: 0 !important;
    border-radius: 15px;
    /* border-radius: 15px;
    padding: 20px; */
/* } */
/* .searchList li{
    list-style: none;
    padding: 10px;
    
} */ 
/* .s */
