.signUp {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 3%;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.main>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: ; */
}

.main>ul>li {
    border: 1px solid #C9C9C9;
    width: 143px;
    height: 53px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main ul li a{
    padding: 10px;
    text-align: center;
}
.main>ul>li>a.active {
    background: #1F70B2;
    border: 1px solid#DE4B18;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main>ul>li>hr {
    color: #000000;
}

.main>ul>li>.list {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    /* margin-bottom: 5px; */
    border-bottom: 1px solid #C9C9C9;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


main>ul>li {
    /* text-decoration: underline; */
    position: relative;
    z-index: 1;
    cursor: pointer;
}

.main>ul>li>hr {
    position: absolute;
    top: 45px;
    width: 145px;
}

/* .line{
    color: #000000;
   } */
/* .main ul li .list:hover{
    border-bottom: 1px solid #E6EAE8;
} */
/* .main ul li a::after{
    content: '''';
    position: absolute;
    width: 143px;
    border-bottom: #000000 solid 0.54px;
    z-index: 2;
    left: 1px;
    top: 12px;
  } */
.heading {
    font-weight: 700;
    font-size: 32px;
    color: 000000;
}

.formInfo {
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 200px; */
}

.formInfo>p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    width: 698px;
    text-align: center;
    padding: 5px 20px;
}

.formBox {
    border: 1px solid rgb(0, 0, 0, 0.25);
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: 380px;
    padding: 20px 0;

}

.formDiv {
    height: 200px;
    width: 100%;
    background: red;
}

.form {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    height: 280px;

}

.footer {
    border: 1px solid #969696;
    box-shadow: 0 20px 34px 5px rgb(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}

.footer button {
    background: #186BAD;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 16px 0 16px 16px;
    margin: 10px;
    gap: 10px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 180px;
}

/* .footer button svg{
    height:  13.31px;
    width: 8.03px;
} */
.proppedFooter .noBgButton {
    background: none;
    border: 1px solid #0162E8;
    width: 345.16px;
    border-radius: 6px;
    color: #0162E8;
    font-weight: 600;
    font-family: 'Monteserrat', sans-serif;
    margin-left: 25px;
}

.proppedFooter {
    justify-content: space-between;
    flex-wrap: wrap;
}

.termTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.term {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    overflow-y: scroll;
    height: 320px;
    width: 100%;
    padding: 10px 40px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

/* .term ol{
    background: red;
} */
.textarea {
    /* height: 100px; */
    max-width: 831px;
    width: 100%;
}
.textarea2{
    max-width: 400px;
    width: 100%;
}
.formBox2{
    height: fit-content;
    width: 90%;
    display: flex;
}
.formBox2 .formDate{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    width: 90%;
    gap: 30px;
    height: fit-content;
}
.formDate .form{
    height: fit-content;
    width: 100%;
}
.uploadList{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}
.uploadList li{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.document{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}
.document h6{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.formDocuments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.uploaded{
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
}
.container {
    margin: 'auto';
    background-color: #09BCFF !important;
    border-radius: 6px;
    /* width: 400; */

}
.container:focus, .container:active{
    background-color: #09BCFF !important;
}
.input{
    display: none;
}
.container label>span{
    background-color: #09BCFF !important;
    border-radius: 6px;
    /* width: 100%; */
    
}
/* .container label>span:focus, .container label>span:active{
    background-color: #09BCFF;
} */
.container label>span>span{
    padding: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    flex-wrap: nowrap;
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
span.MuiButton-label{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.MuiButton-label{
    width: 182px;
    
}
@media (max-width:530px) {

    .formBox,
    .form {
        height: fit-content;
    }

    .formBox {
        border: none;
        box-shadow: none;
        padding: 20px;

    }

    .formBox p {
        width: fit-content;
        font-family: 'Open Sans' sans-serif;
        font-size: 14px;
        font-weight: 400;

    }

    .footer {
        margin-top: 30px;
        border: none;
        box-shadow: none;
        padding: 0 20px;
        display: flex;
        margin-bottom: 10px;
    }

    .login {
        background: #ffffff;
        height: 100%;
        padding: 30px 0;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main {
        border: none;
        padding: 0 0 50px 0;
        /* margin-top: -10px; */
        /* background: black; */

        /* box-sizing: unset; */
    }

    .proppedFooter .noBgButton {
        width: 103px;
        padding: 10px;
    }

    .footer button {
        padding: 10px 25px;
        width: fit-content;
    }

    a {
        display: grid;

    }

    .term {
        height: fit-content;
        width: 100%;
        overflow-y: hidden;
    }

    .termsInfo>p {
        display: flex;
        justify-content: flex-start;
        text-align: start;
        padding: 0;
    }
    .mobileformbox{
        margin-top: -200px;
    }
    /* .term p{
    padding: 0;
} */
    /* .form{
    padding: 0 20px;
   } */
}

@media (max-width:333px) {
    .proppedFooter {
        flex-direction: column;
        align-items: center;

    }

    .footer button,
    .proppedFooter .noBgButton {
        width: 150px;
    }

    .footer button {
        margin: 10px 10px 10px 25px;
        padding: 10px;
    }
}